.app {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

.counter {
  font-size: 2rem;
  margin-bottom: 2rem;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
}

button:hover {
  background-color: #222;
}
